@{
    ViewBag.Title = "Dashboard";
}
@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
@{
    //count quantity list block code
    var countDep = 0;
    var countFacul = 0;
    var countFaci = 0;
    var countFeed = 0;
    var countAcc = 0;
    foreach (var item in ViewBag.ListAcc)
    {
        countAcc++;
    }
    foreach (var item in ViewBag.ListFacil)
    {
        countFaci++;
    }
    foreach (var item in ViewBag.ListDep)
    {
        countDep++;
    }
    foreach(var item in ViewBag.ListFacul)
    {
        countFacul++;
    }
    foreach (var item in ViewBag.ListFeed)
    {
        countFeed++;
    }
}
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>1/ 1</h3>

                    <p>Accepted Admissions/Total Admissons</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>100<sup style="font-size: 20px"></sup></h3>

                    <p>Course</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@countFacul/@countDep</h3>
                    <p> Faculty/Department</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>@countFaci</h3>
                    <p>Facilities</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@countAcc</h3>
                    <p>Account On Admin System</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-secondary">
                <div class="inner">
                    <h3>@countFeed</h3>
                    <p>Total Feedback</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
</div>

