@model IEnumerable<ITMCollege.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Client/_Layout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

  <br> 
  <br>
  <br>
  <br>
  <br>
   <br>
<div class="site-section">
    <div class="container">
         <partial name="_pager" model="@pager" />
        <div class="row">
            @foreach(var item in Model){
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="/departments/details/@item.DepId"><img width="340" height="200" src="~/@item.Image" alt="Image" ></a>
                        <div class="category"><h3>@item.DepName</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <p><a href="/departments/details/@item.DepId" class="btn btn-primary rounded-0 px-4">Detail</a></p>
                    </div>
                </div>
            </div>
            }

        </div>
         <partial name="_pager" model="@pager" />
    </div>
</div>
