<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <style>
        .input-err {
            border: 1px solid rgb(204, 86, 86);
            box-shadow: 0px 1px 10px 0px rgb(204, 86, 86,0.5);
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <partial name="~/Views/Shared/Admin/Partial Views/_header.cshtml" />
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <partial name="~/Views/Shared/Admin/Partial Views/_sidebar.cshtml" />
        </aside>
        <div class="content-wrapper px-4 pt-4">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <partial name="~/Views/Shared/Admin/Partial Views/_footer.cshtml" />
        </footer>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>
