<div class="container">
    <div class="d-flex align-items-center">
        <div class="site-logo">
            <a href="/" class="d-block">
                <img src="~/images/logo2.png" alt="Image" class="img-fluid">
            </a>
        </div>
        <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li class="active">
                        <a asp-area="Client" asp-controller="Home" asp-action="Index" class="nav-link text-left">Home</a>
                    </li>
                    <li class="has-children">
                        <a href="/home/aboutus" class="nav-link text-left">About Us</a>
                        <ul class="dropdown">
                            <li>
                                <a href="/departments" class="nav-link text-left">Departments</a>
                            </li>
                            <li>
                                <a href="/faculties" class="nav-link text-left">Faculties</a>
                            </li>
                            <li>
                                <a href="/facilities" class="nav-link text-left">Facilities</a>
                            </li>
                            @*<li>
                                <a href="/feedbacks" class="nav-link text-left">Feedback</a>
                            </li>*@
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#" class="nav-link text-left">Student</a>
                        <ul class="dropdown">
                            <li>
                                <a href="/admissions" class="nav-link text-left">Admission</a>
                            </li>
                            <li>
                                <a href="/admissions/checkadmissionstatus" class="nav-link text-left">Admission Status</a>
                            </li>
                            <li>
                                <a href="/registrations/create" class="nav-link text-left">Student Registration</a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    @*<li>
                        <a asp-area="Client" asp-controller="Admissions" asp-action="Index" class="nav-link text-left">Admissions</a>
                    </li>*@
                    <li>
                        <a href="/courses" class="nav-link text-left">Courses</a>
                    </li>

                    <li>
                        <a href="/feedbacks" class="nav-link text-left">Contact</a>
                    </li>

                </ul>                                                                                                                          
            </nav>
        </div>
        <div class="ml-auto">
            <div class="social-wrap">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>

                <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
                    <span class="icon-menu h3"></span>
                </a>
            </div>
        </div>
    </div>
</div>