@model ITMCollege.Models.OpSubject
@{
    ViewBag.Title = "Insert Optional Subject";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";

}
<div class="card" id="admissionForm">
    <div class="card-header bg-dark font-weight-bold">INSERT OPTIONAL SUBJECT</div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="OpSubjectName">Optional Subject Name</label><span class="text-danger pl-1">*</span>
                        <input asp-for="SubjectName" id="OpSubjectName" class="form-control form-control-lg" >
                        <span id="OpSubjectNameErr" class="text-danger font-italic"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="INSERT" class="btn btn-outline-primary" id="btnInsert" onclick="ValidateOpSubjectForm()">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/ValidateFormAdminSystem.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
