@model ITMCollege.Models.Field

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Create </h1>

<h4>Field</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="FieldId" class="control-label"></label>
                <input asp-for="FieldId" class="form-control" />
                <span asp-validation-for="FieldId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FieldName" class="control-label"></label>
                <input asp-for="FieldName" class="form-control" />
                <span asp-validation-for="FieldName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreamId" class="control-label"></label>

                <select name="StreamId" id="StreamId" asp-for="StreamId" asp-items="@(new SelectList(ViewBag.ListStream,"StreamId","StreamName"))">
                  
                </select>
                @*<select name="StreamId">
                    @foreach (var item in @ViewBag.ListStream)
                    {
                        <option class="list list-danger" value="@item.StreamId">@item.StreamName</option>
                    }
                </select>*@
                <span asp-validation-for="StreamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
