
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Client/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <p class="mbr-text">
                    <br> 
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><strong style="color:forestgreen" >HO CHI MINH</strong>
                    <br>
                    <br>Email: ITMCollecge@gmail.com
                    <br>Phone: +1 (0) 000 0000 001
                    <br>Fax: +1 (0) 000 0000 002
                    <br>Address:590 CMT8,Ho Chi Minh
                    <br>
                    <br><strong style="color:forestgreen">HA NOI</strong>
                    <br>
                    <br>Email: ITMCollecge@gmail.com
                    <br>Phone: +1 (0) 000 0000 003
                    <br>Fax: +1 (0) 000 0000 004
                    <br>Address:Dai Lo Thanh Long,H.Thach That, Ha Noi
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.319281359242!2d106.66408561428717!3d10.786840061952285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech%20Computer%20Education%20HCM!5e0!3m2!1sen!2s!4v1644572104262!5m2!1sen!2s" width="750" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            </div>
        </div>
    </div>