@model ITMCollege.Models.Feedback

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Client/_Layout.cshtml";
}
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="/">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Contact</span>
    </div>
</div>

<div class="site-section" >
    <div class="container">
        <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control form-control-lg" placeholder="FirstName">
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control form-control-lg" placeholder="LastName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Subject">Subject</label>
                <input asp-for="Subject" class="form-control form-control-lg" placeholder="Subject">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Message">Message</label>
               @* <input asp-for="Message" class="form-control">*@
                <textarea asp-for="Message" cols="40" rows="15" class="form-control"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="submit" value="Send Message" class="btn btn-primary btn-lg px-5">


            </div>
        </div>
        </form>
    </div>
</div>