@model ITMCollege.Models.Admission
@{
    ViewBag.Title = "Admission Notification";
}
@{
    Layout = "~/Views/Shared/Client/_Layout.cshtml";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('~/wwwroot/Images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">ADMISSION</h2>
            </div>
        </div>
    </div>
</div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Admission</span>
    </div>
</div>
<div></div>
<div class="container">
    @if (ViewBag.adStatus == 0)
    {
        <div class="alert-primary mt-5">
            <p class="px-2 font-weight-bold font-italic">Congratulations, you have successfully admitted.</p>
            <p class="px-2 font-weight-bold">Your Registration Number is : <span class="text-danger">@Model.RegNum</span></p>
        </div>
        <p></p>
        <p class="font-italic py-2">Please note the above Registration Number to check <strong class="font-weight-bold">Admission Status</strong> and complete <strong class="font-weight-bold">Student Registration</strong></p>
    }
    else
    {
        <div class="alert-danger mt-5">
            <p class="px-2 font-weight-bold font-italic">Fail admitted . Please try again later.</p>
        </div>
    }


</div>
