@model ITMCollege.Models.Admission
@{
    ViewBag.Title = "Admission";
}
@{
    Layout = "~/Views/Shared/Client/_Layout.cshtml";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('~/wwwroot/Images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">ADMISSION</h2>
            </div>
        </div>
    </div>
</div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a asp-area="Client" asp-controller="Home" asp-action="Index"></a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Admission</span>
    </div>
</div>

<div class="site-section">
    <form asp-action="Create">
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="fullname">Full Name</label>
                    <input asp-for="FullName" type="text" id="fullname" class="form-control form-control-lg">
                </div>
                <div class="col-md-12 form-group">
                    <label for="fathername">Father Name</label>
                    <input asp-for="FatherName" type="text" id="fathername" class="form-control form-control-lg">
                </div>
                <div class="col-md-12 form-group">
                    <label for="mothername">Mother Name</label>
                    <input asp-for="MotherName" type="text" id="mothername" class="form-control form-control-lg">
                </div>
                <div class="col-md-6 form-group">
                    <label for="DateOfBirth">Date Of Birth</label>
                    <input asp-for="DateOfBirth" type="date" id="DateOfBirth" class="form-control form-control-lg">
                </div>
                <div class="col-md-6 form-group">
                    <label class="d-block" for="gender">Gender</label>
                    <div class="custom-control custom-radio d-inline-block pr-4">
                        <input type="radio" class="custom-control-input" id="male" name="Gender" value="true" checked>
                        <label class="custom-control-label" for="male">Male</label>
                    </div>
                    <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" class="custom-control-input" id="female" name="Gender" value="false">
                        <label class="custom-control-label" for="female">Female</label>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input asp-for="Email" type="text" id="email" class="form-control form-control-lg">
                </div>
                <div class="col-md-12 form-group">
                    <label for="resaddress">Residential Address</label>
                    <input asp-for="ResAddress" type="text" id="resaddress" class="form-control form-control-lg">
                </div>
                <div class="col-md-12 form-group">
                    <label for="peraddress">Permanent Address</label>
                    <input asp-for="PerAddress" type="text" id="peraddress" class="form-control form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="eaddress">Stream</label>
                    <select name="StreamId" class="form-control">
                        @foreach(var item in ViewBag.StreamList)
                            {
                                  <option value="@item.StreamId">@item.StreamName</option>
                            }
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="eaddress">Field</label>
                    <select name="FieldId" class="form-control">
                        @foreach (var item in ViewBag.FieldList)
                        {
                            <option value="@item.StreamId">@item.StreamName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="eaddress">Email Address</label>
                    <input type="text" id="eaddress" class="form-control form-control-lg">
                </div>
                <div class="col-md-6 form-group">
                    <label for="tel">Tel. Number</label>
                    <input type="text" id="tel" class="form-control form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Send Message" class="btn btn-primary btn-lg px-5">
                </div>
            </div>
        </div>
    </form>

</div>

<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Our Philosphy</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Academics Principle</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Key of Success</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}