@model ITMCollege.Models.Facility

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<h1>Edit</h1>

<h4>Facility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Image" />
            <input type="hidden" asp-for="FacilityId" />
            @*<div class="form-group">

                <label asp-for="FacilityId" class="control-label"></label>
                <input asp-for="FacilityId" class="form-control" />
                <span asp-validation-for="FacilityId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FacilityName" class="control-label"></label>
                <input asp-for="FacilityName" class="form-control" />
                <span asp-validation-for="FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Image" for="file-upload" style="cursor: pointer" class="control-label btn btn-outline-dark">
                </label>
                <input type="file" id="file-upload" name="file" class="custom-file-input" />
                <img src="~/@Model.Image" alt="Alternate Text" width="200" height="200" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
