@model ITMCollege.Models.Course

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" onSubmit="return validateThisFrom (this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="StreamId" class="control-label">Stream</label>
                <select  class="form-control" name="StreamId" id="StreamId" asp-for="StreamId" asp-items="@ViewBag.ListStream" required>
                    <option value="">Select Stream</option>
                </select>
                <span asp-validation-for="StreamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldId" class="control-label"></label>
                @*<select name="FieldId" id="FieldId" asp-for="FieldId" asp-items="@(new SelectList(string.Empty,"Value","Text"))">
            </select>*@
                <select  class="form-control" name="FieldId" id="FieldId" required>
                    <option value="">Select Field</option>
                </select>
                <span asp-validation-for="FieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" for="file-upload" style="cursor: pointer" class="control-label btn btn-outline-dark">
                </label>
                <input type="file" id="file-upload" name="file" class="custom-file-input" />
             
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script language='JavaScript' type='text/javascript'>
    function validateThisFrom(thisForm) {
        if (thisForm.FieldId.value == "") {
            thisForm.FieldId.focus();
            return false;
        }
        if (thisForm.StreamId.value == "") {
            thisForm.StreamId.focus();
            return false;
        }

    }
</script>
<script>
  

   

    $(document).ready(function () {
        $("#StreamId").on("change", function () {
            $list = $("#FieldId");
            $.ajax({
                url: "/admin/courses/getfieldsFromDatabaseByStream",
                @*url: '@Url.Action("getfieldsFromDatabaseByStream")',*@
                type: "GET",
                dataType:'json',
                data: { id: $("#StreamId").val() },

               
                success: function (Fields) {
                    $list.empty();
                    $list.append('<option value=""> ' + 'Select Field' + ' </option>');
                    $.each(Fields, function (i, field) {
                        $list.append('<option value="' + field.value + '"> ' + field.text + ' </option>');
                    });
                },
                error: function () {
                    alert("Something went wrong call the police");
                }
            });
        });
    });

    //$(document).ready(function () {
    //    $("#StreamId").on("change", function () {
    //        $list = $("#FieldId");
    //        $.ajax({
    //            url: "/admin/courses/getfieldsFromDatabaseByStream",
    //            type: "GET",
    //            data: { id: $("#StreamId").val() }, 
    //            traditional: true,
    //            success: function (result) {
    //                $list.empty();
    //                $.each(result, function (i, item) {
    //                    $list.append('<option value="' + item["FieldId"] + '"> ' + item["FieldName"] + ' </option>');
    //                });
    //            },
    //            error: function () {
    //                alert("Something went wrong call the police");
    //            }
    //        });
    //    });
    //});

</script>
}
