@model ITMCollege.Models.Course

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreamId" class="control-label"></label>
                <select name="StreamId" id="StreamId" asp-for="StreamId" asp-items="@ViewBag.ListStream">
                </select>
                <span asp-validation-for="StreamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldId" class="control-label"></label>
                @*<select name="FieldId" id="FieldId" asp-for="FieldId" asp-items="@(new SelectList(string.Empty,"Value","Text"))">
            </select>*@
                <select name="FieldId" id="FieldId">
                    <option>Select Field</option>
                </select>
                <span asp-validation-for="FieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                @*<input asp-for="Image" class="form-control" />*@
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
  

   

    $(document).ready(function () {
        $("#StreamId").on("change", function () {
            $("#FieldId").empty;
            $.ajax({
                url: "/admin/courses/getfieldsFromDatabaseByStream",
                @*url: '@Url.Action("getfieldsFromDatabaseByStream")',*@
                type: "GET",
                dataType:'json',
                data: { id: $("#StreamId").val() },

                traditional: true,
                success: function (Fields) {
                  /*  $("#FieldId").append('<option value="' + -1 + '"> ' + 'Select Field' + ' </option>');*/
                    $.each(Fields, function (i, field) {
                        $("#FieldId").append('<option value="' + field.value + '"> ' + field.text + ' </option>');
                    });
                },
                error: function () {
                    alert("Something went wrong call the police");
                }
            });
        });
    });

    //$(document).ready(function () {
    //    $("#StreamId").on("change", function () {
    //        $list = $("#FieldId");
    //        $.ajax({
    //            url: "/admin/courses/getfieldsFromDatabaseByStream",
    //            type: "GET",
    //            data: { id: $("#StreamId").val() }, 
    //            traditional: true,
    //            success: function (result) {
    //                $list.empty();
    //                $.each(result, function (i, item) {
    //                    $list.append('<option value="' + item["FieldId"] + '"> ' + item["FieldName"] + ' </option>');
    //                });
    //            },
    //            error: function () {
    //                alert("Something went wrong call the police");
    //            }
    //        });
    //    });
    //});

</script>
}
